@import "videogular2_scripts/fonts/videogular.scss";

page-place-detail-page {
  ion-slides {
    height: auto;
  }

  .card-secondary {
    background: color($colors, dark, base);
  }

  ion-card {
    position: relative;
    top: -34px;
    z-index: 999999;

    ion-card-header {
      font-size: 1.5em !important;
      padding-bottom: 8px;
    }

    ion-card-content {
      font-size: 0.9em !important;
    }

  }
  .vgPlayer {
    height: 50px;
    background-color: #656565;
  }
  .scrum-bar {
    padding-top: 18px;

  }
  vg-scrub-bar-current-time, vg-scrub-bar-buffering-time {
    height: 20px;
  }
  vg-scrub-bar-current-time .background, vg-scrub-bar-buffering-time .background {
    border-radius: 10px !important;
    min-width: 20px;

  }
  .swiper-pagination-bullet-active{
    background-color: #bbbbbb;
  }
  .label-ios {
    margin: 8px 8px 8px 0;
  }
  .mapObjectPlace{
    margin-top: -14px !important;
    height:auto;
    overflow:hidden;
  }
  #map-page {
    margin-top:0px;
    min-width:340px;
    min-height: 260px;
  }
  .cardContent {
    //padding: 0px;
    padding-bottom:8px;
  }
  .cardHeader{
    padding:8px;
  }
}
