<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ place["title_"+lang] }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content #container>

  <vg-player class="vgPlayer">
    <vg-controls>
      <vg-play-pause [vgFor]="myAudio"></vg-play-pause>
      <vg-playback-button [vgFor]="myAudio"></vg-playback-button>

      <vg-scrub-bar class="scrum-bar">
        <vg-scrub-bar-current-time [vgFor]="myAudio"></vg-scrub-bar-current-time>
        <vg-scrub-bar-buffering-time [vgFor]="myAudio"></vg-scrub-bar-buffering-time>
      </vg-scrub-bar>

      <vg-time-display vgProperty="left" vgFormat="mm:ss" [vgFor]="myAudio"></vg-time-display>
    </vg-controls>
    <audio #media [vgMedia]="media" id="myAudio" preload="auto">
      <source *ngFor="let aud of audio" [src]="aud" type="audio/mp3">
    </audio>
  </vg-player>

  <ion-slides pager>
    <ion-slide *ngFor="let image of imageURL">
      <img src="assets/img/avatar.png" offset="100"
           [lazyLoad]="image[0]"
           [scrollTarget]="container.getScrollElement()" />
      <!--<img src="assets/img/avatar.png" offset="100"-->
           <!--[lazyLoad]="image.url()"-->
           <!--[scrollTarget]="container.getScrollElement()" />-->
    </ion-slide>
  </ion-slides>

  <ion-card class="card-secondary" text-center>
    <ion-card-header class="cardHeader">
      <h2 ion-text color="primary" style="font-weight:bold;">{{ place["title_"+lang] }}</h2>
    </ion-card-header>
    <ion-card-content class="cardContent">
      <span ion-text color="light">{{ place["description_"+lang] }}</span>
    </ion-card-content>
  </ion-card>

  <ion-card class="mapObjectPlace">
    <img src="assets/img/avatar.png" offset="100"
      lazyLoad="http://maps.googleapis.com/maps/api/staticmap?center={{category.center_map}}&sensor=false
&path=color:0xff0cf4%7Cweight:7{{waypoints}}&markers=color:0x1af768%7C{{category.start_route}}
&markers=color:0xFFFF00%7C{{place.location.latitude}},{{place.location.longitude}}{{markers}}&markers=color:0xff0000%7C{{category.end_route}}
&zoom={{zoom}}&format=png&maptype=roadmap&size=600x350&key=AIzaSyAlxUfLNUfBLnuJBJBOpcXpmB_UGDUTuTY"
         [scrollTarget]="container.getScrollElement()">
    <ion-item color="dark" *ngIf="place['address_'+lang]">
      <h2 ion-text color="primary">{{ "ADDRESS" | translate }}</h2>
      <p>{{ place["address_"+lang] }}</p>
    </ion-item>
  </ion-card>
</ion-content>
<!--style=element:geometry%7Ccolor:0x242f3e-->
<!--&style=element:labels.text.fill%7Ccolor:0x746855&style=element:labels.text.stroke%7Ccolor:0x242f3e-->
<!--&style=feature:administrative.locality%7Celement:labels.text.fill%7Ccolor:0xd59563-->
<!--&style=feature:poi%7Celement:labels.text.fill%7Ccolor:0xd59563-->
<!--&style=feature:poi.park%7Celement:geometry%7Ccolor:0x263c3f-->
<!--&style=feature:poi.park%7Celement:labels.text.fill%7Ccolor:0x6b9a76-->
<!--&style=feature:road%7Celement:geometry%7Ccolor:0x38414e-->
<!--&style=feature:road%7Celement:geometry.stroke%7Ccolor:0x212a37-->
<!--&style=feature:road%7Celement:labels.text.fill%7Ccolor:0x9ca5b3-->
<!--&style=feature:road.highway%7Celement:geometry%7Ccolor:0x746855-->
<!--&style=feature:road.highway%7Celement:geometry.stroke%7Ccolor:0x1f2835-->
<!--&style=feature:road.highway%7Celement:labels.text.fill%7Ccolor:0xf3d19c-->
<!--&style=feature:transit%7Celement:geometry%7Ccolor:0x2f3948-->
<!--&style=feature:transit.station%7Celement:labels.text.fill%7Ccolor:0xd59563-->
<!--&style=feature:water%7Celement:geometry%7Ccolor:0x17263c&style=feature:water%7Celement:labels.text.fill%7Ccolor:0x515c6d-->
<!--&style=feature:water%7Celement:labels.text.stroke%7Ccolor:0x17263c&-->
