<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ place["title_"+lang] }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content #container>

  <ion-slides pager>
    <ion-slide *ngFor="let image of imageURL">
      <img src="assets/img/avatar.png" offset="100" [lazyLoad]="image[0]" [scrollTarget]="container.getScrollElement()" />
    </ion-slide>
  </ion-slides>

  <ion-card class="card-secondary infoCard" text-center>
    <ion-card-header class="cardHeader">
      <h2 ion-text color="primary" style="font-weight:bold;">{{ place["title_"+lang] }}</h2>
    </ion-card-header>
    <ion-card-content class="cardContent">
      <span ion-text color="light">{{ place["description_"+lang] }}</span>
    </ion-card-content>
  </ion-card>

  <ion-card class="mapObjectPlace">
    <img src="assets/img/avatar.png" offset="100" lazyLoad="http://maps.googleapis.com/maps/api/staticmap?center={{place.location.latitude}},{{place.location.longitude}}&sensor=false
      {{markers}}&zoom={{zoom}}&format=png&maptype=roadmap&size=600x350&key=AIzaSyAlxUfLNUfBLnuJBJBOpcXpmB_UGDUTuTY" [scrollTarget]="container.getScrollElement()">
    <!--lazyLoad="http://maps.googleapis.com/maps/api/staticmap?center={{route.center_map}}&sensor=false-->
    <!--&path=color:0xff0cf4%7Cweight:7{{waypoints}}&markers=color:0x1af768%7C{{route.start_route}}-->
    <!--&markers=color:0xFFFF00%7C{{place.location.latitude}},{{place.location.longitude}}{{markers}}&markers=color:0xff0000%7C{{route.end_route}}-->
    <!--&zoom={{zoom}}&format=png&maptype=roadmap&size=600x350&key=AIzaSyAlxUfLNUfBLnuJBJBOpcXpmB_UGDUTuTY"-->

    <ion-item color="dark" *ngIf="place['address_'+lang]">
      <h2 ion-text color="primary">{{ "ADDRESS" | translate }}</h2>
      <p>{{ place["address_"+lang] }}</p>
    </ion-item>
  </ion-card>
  <div padding></div>
  <div padding></div>
  <div padding></div>
  <div padding></div>
</ion-content>

<ion-footer>
  <vg-player (onPlayerReady)="onPlayerReadyDetail($event)">
    <ion-grid>
      <ion-row align-items-center style="height: 100%">
        <ion-col text-center class="colDetailVGplayer">
          <button ion-button class="skip-btn" color="primary" [disabled]="!api.canPlay" (click)="changePlayBackRate()">
            <p style="text-transform: lowercase;">{{playBackValues[playBackRateIndex]}}x</p>
          </button>
          <!-- Play/Pause -->
          <button ion-button class="play-pause-btn" color="primary" (click)="api.play()" [disabled]="!api.canPlay" *ngIf="api && api.state!='playing'">
            <ion-icon class="playButton" name="play"></ion-icon>
          </button>
          <button ion-button class="play-pause-btn" color="secondary" (click)="api.pause()" [disabled]="!api.canPlay" *ngIf="api && api.state=='playing'">
            <ion-icon name="pause"></ion-icon>
          </button>
        </ion-col>
      </ion-row>

      <ion-row align-items-center>
        <ion-col class="scrubTimeDisplay" col-8 offset-1 align-self-start>
          <vg-scrub-bar style="pointer-events: none;"> 
            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
            <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
          </vg-scrub-bar>
        </ion-col>
        
        <ion-col col-2 align-self-end>
          <vg-time-display class="timeDisplay" [vgProperty]="'left'" [vgFormat]="'mm:ss'"></vg-time-display> 
        </ion-col>
      </ion-row>

    </ion-grid>
    <audio #media [vgMedia]="media" id="myAudio" autoplay preload="auto">
      <source *ngFor="let aud of audio" [src]="aud" type="audio/mp3">
    </audio>
  </vg-player>
</ion-footer>