<ion-header>
  <ion-navbar color="primary" text-center>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'ROUTES' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content #container>
  <empty-view *ngIf="isErrorViewVisible" icon="alert"
    [text]="'ERROR_ROUTES' | translate">
  </empty-view>

  <empty-view *ngIf="isEmptyViewVisible" icon="bookmark"
    [text]="'EMPTY_ROUTES' | translate">
  </empty-view>

  <ion-refresher (ionRefresh)="onReload($event)">
    <ion-refresher-content
      pullingText="{{ 'PULL_TO_REFRESH' | translate }}"
      refreshingText="{{ 'REFRESHING' | translate }}">
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="isContentViewVisible" class="divRoute">
    <ion-item class="itemRoute" *ngFor="let route of routes" color="dark" no-lines>
      <div class="selectedItem" (tap)="goToPlaces(route)">
      <ion-thumbnail class="avatarRoute" item-start>
        <img src="assets/img/tag.png" offset="100"
             [lazyLoad]="route.imageThumb.url()"
             [scrollTarget]="container.getScrollElement()">
      </ion-thumbnail>
      <h2 class="textRoute">{{ route["title_"+lang] }}</h2>
      </div>
        <ion-icon class="iconRoute" name="ios-information-circle-outline" (tap)="openModalAddReviewRoute(route)" item-end></ion-icon>
        <!-- <ion-icon class="iconRoute" name="ios-information-circle-outline" (tap)="openModalAddReviewRoute(route['title_'+lang],route['information_'+lang],route.center_map,route.waypoints,route.start_route,route.end_route)" item-end></ion-icon> -->
    </ion-item>
  </div>

</ion-content>
