page-routes {

  ion-item {
    &:first-child {
      border-top: none !important;
    }

    &:last-child {
      border-bottom: none !important;
    }

    ion-avatar img {
      max-width: 6rem !important;
      max-height: 6rem !important;
      border-radius: 4rem !important;
    }
  }
  .avatarRoute{
     float:left;
     margin: 8px 5px 8px 0 !important;
   }
  .iconRoute {
    display: inline-block;
    padding-bottom: 2px;
    width: 0.8em;
    text-align: left;
    font-size: 2.3em;
    line-height: 1.4em;
  }
  .divRoute{
    padding: 3px;
  }
  .textRoute{
    padding-top: 0.3em;
    // word-break: break-all;
    white-space: normal;
  }
  .itemRoute{
    margin-bottom: 2px;
    border-radius: 3px;
  }
  .item-ios [item-right], .item-ios [item-end] {
    margin: 0px;
  }
  .selectedItem {
    width: 98%;
    display: inline-block;
  }
  .item-ios.item-block .item-inner {
    padding-right: 8px;
    padding-right: 0px !important;
  }
}
