page-routes {

  ion-item {
    &:first-child {
      border-top: none !important;
    }

    &:last-child {
      border-bottom: none !important;
    }

    ion-avatar img {
      max-width: 6rem !important;
      max-height: 6rem !important;
      border-radius: 4rem !important;
    }
  }
  .iconRoute{
      display: inline-block;
      font-size: 2.2em;
      padding: 8px;
  }

  .avatarRoute{
     float:left;
   }
  page-routes .iconRoute {
    display: inline-block;
    font-size: 1.8em;
    padding:2px !important;
  }
  .divRoute{
    padding: 3px;
  }
  .itemRoute{
    margin-bottom:2px;
    height:64px !important;
    border-radius: 2px;
  }
  .textRoute{
    padding-top:17px;
  }
}
