page-routes {

  ion-item {
    &:first-child {
      border-top: none !important;
    }

    &:last-child {
      border-bottom: none !important;
    }

    ion-avatar img {
      max-width: 6rem !important;
      max-height: 6rem !important;
      border-radius: 4rem !important;
    }
  }
  .avatarRoute{
     float:left;
     margin: 8px 5px 8px 0 !important;
   }
  .iconRoute {
    display: inline-block;
    padding-bottom: 2px;
    font-size: 2.3em;
  }
  .divRoute{
    padding: 3px;
  }
  .textRoute{
    padding-top: 0.9em;
  }
  .itemRoute{
    margin-bottom: 2px;
    height: 64px !important;
    border-radius: 3px;
    padding-left: 0.3em;
  }
  .item-ios [item-right], .item-ios [item-end] {
    margin: 0px;
  } 
  .selectedItem {
    height: 52px;
    width: 98%;
    display: inline-block;
  }
  
}
