page-bundles {
  .cardRoute{
     padding:3px;
     margin-top: 1em;
  }
  .itemGroupBundle{
    margin:0px;
  }
  .avatarRoute{
    margin: 7px 6px 8px -12px !important;
  }
  .noteRoute{
    margin: 0px !important;
  }
  .iconRoute{
    position: relative;
    right: -12px;
  }

  .bundleButtonNotAct {
    padding-left: 0px;
    margin: 0.4rem -0rem;
    max-width: 100%;
    padding: 0 1em;
  }
  .bundleButtonAct {
    padding-left: 1.4em;
  }
  .priceRoute{
    top: 1px;
    position: relative;
    right: -14px;
    font-size: 1.2rem !important;
  }
  .labelDiscount{
    text-align:center;
    white-space: normal;
    overflow: hidden;
  }
  .itemRoute{
    margin-bottom: 2px;
    border-radius: 3px;
  }
  .textRoute{
    font-size: 1.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }
  .divRoute{
    padding: 3px;
  }
}  