page-places {

  ion-item {
    margin-bottom: 16px !important;
  }

  .item-block:first-child {
    border-top: none !important;
  }

  ion-item:last-child {
    border-bottom: none !important;
  }

  ion-note {
    font-size: 12px;
    align-self: flex-start;
    margin-top: 14px;
  }

  ul {
    margin: 4px 0;
    padding: 0px;

    &.rating li {
      padding: 5px 0 !important;
      background: none;
      color: color($colors, primary, base);

      ion-icon {
        font-size: 16px;
      }
    }
  }

  .vgPlayer {
    height: 50px;
    background-color: #383838;
  }
  .scrum-bar {
    padding-top: 18px;

  }
  vg-scrub-bar-current-time, vg-scrub-bar-buffering-time {
    height: 20px;
  }
  vg-scrub-bar-current-time .background, vg-scrub-bar-buffering-time .background {
    border-radius: 10px !important;
    min-width: 20px;

  }
  .swiper-pagination-bullet-active{
    background-color: #444444;
  }
  .placeHeader{
    line-height:44px;
    position: relative;
    bottom:0px;
  }
  .placesContent{
    background-color:#fff;
    //position:relative;
    top:0px;
  }
  .map {
    width: 100%;
    display:block;
    position: fixed;
    height: 71%;
    background-color: silver;
    top: 0px !important;
  }

  .fixed-content{
    margin-top: 0px !important;
    margin-bottom: 0px;
  }
  .scroll-content{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }

  .ionSlides{
    position: absolute;
    height: 100px;
    max-width: 100%;
    bottom: 10%;
  }
  .slide-zoom {
    text-align: center;
    display: block;
    height: 175px;
    width: 99%;
  }
}
