<ion-header class="placeHeader">
  <ion-navbar color="primary">
    <ion-title>{{ params.route["title_"+lang] }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showCheckbox()">
        <ion-icon name="ios-checkmark-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="placesContent">
    <div *ngIf="playMode!='poiOnly'" class="tolbarDateSlider">
        <ion-row class="filters year-row">
          <ion-col class="col-with-arrow" (click)="slidePrev()" no-padding col-1>
          <ion-icon *ngIf="yearSelectionSlider.showLeftButton" name="arrow-back"></ion-icon>
          </ion-col>

          <ion-col no-padding col-10>
            <ion-slides (ionSlideDidChange)="slideChanged()" slidesPerView="4">
              <ion-slide class="sliderDate" (click)="selectYear(period)"
                         *ngFor="let period of yearSelectionSlider.periods">
                <p [class.selected]="yearSelectionSlider.selectedYear === period">{{period}}</p>
              </ion-slide>
            </ion-slides>
          </ion-col>
          <ion-col class="col-with-arrow" (click)="slideNext()" no-padding col-1>
            <ion-icon *ngIf="yearSelectionSlider.showRightButton" name="arrow-forward"></ion-icon>
          </ion-col>
        </ion-row>
      </div>

  <div id="map" showWhen="android,ios"></div>

<div class="sliderPOI">
    <ion-slides *ngIf="!listeningPOI" pager class="ionSlides">
        <ion-slide *ngFor="let place of places">
          <ion-item (tap)="goToPlace(place)" color="dark" no-lines>
            <ion-thumbnail item-left>
              <img src="assets/img/avatar.png" offset="100"
                                 [lazyLoad]="place.imageThumb.url()">
            </ion-thumbnail>
            <h2 class="bold" ion-text color="secondaru">{{ place["title_"+lang] }}</h2>
            <p>{{ place["description_"+lang] }}</p>
            <ion-note ion-text color="light" item-right>
              {{ place.distance(params.location, params.unit) }}
            </ion-note>
          </ion-item>
        </ion-slide>
      </ion-slides>
</div>

<div class="mapFooter">
  <!-- <div>State: {{videogularApi.state}}</div> -->
  <!-- <div>{{currentAudio.type}}: {{currentAudio.title}}</div> -->
  <!-- <div style="font-size:12px;">Period :{{currentAudio.period}}</div> -->

  <vg-player *ngIf="playMode!='poiOnly'" (onPlayerReady)="onPlayerReady($event)">
    <ion-grid>
      <ion-row align-items-center style="line-height: 23em">
        <ion-col text-center class="colVGplayer">
          <button ion-button class="skip-btn" color="primary" [disabled]="!videogularApi.canPlay"
                  (click)="changePlayBackRate()">
            <p style="text-transform: lowercase;">{{playBackRateValues && playBackRateValues[playBackRateIndex]}}x</p>
          </button>
          <!-- Backwards -->
          <button ion-button class="skip-btn" color="primary" [disabled]="!videogularApi.canPlay"
                  (click)="playPrevStory()">
            <ion-icon name="skip-backward"></ion-icon>
          </button>
          <!-- Play/Pause -->
          <button ion-button class="play-pause-btn" color="primary" (click)="videogularApi.play()"
                  [disabled]="!videogularApi.canPlay" *ngIf="videogularApi && videogularApi.state!='playing'">
            <ion-icon class="playPlaces" name="play"></ion-icon>
          </button>
          <button ion-button class="play-pause-btn" color="secondary" (click)="videogularApi.pause()"
                  [disabled]="!videogularApi.canPlay" *ngIf="videogularApi && videogularApi.state=='playing'">
            <ion-icon name="pause"></ion-icon>
          </button>
          <!-- Forwards -->
          <button ion-button class="skip-btn" color="primary" [disabled]="!videogularApi.canPlay"
                  (click)="playNextStory()">
            <ion-icon name="skip-forward"></ion-icon>
          </button>

        </ion-col>
      </ion-row>
    </ion-grid>

    <audio #media [vgMedia]="media" [src]="playingMode?playingMode.currentAudio.src:null" type="audio/mp3" autoplay
           preload="metadata">
    </audio>

  </vg-player>
</div>
</ion-content>


