<ion-header class="placeHeader">
  <ion-navbar color="primary">
    <ion-title>{{ params.category["title_"+lang] }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showCheckbox()">
        <ion-icon name="ios-checkmark-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="ionContent" scroll="false">
  <!--<ion-content #container class="placesContent" scroll="false" >-->
  <div class="tolbarDateSlider">
    <ion-row class="filters year-row">
      <ion-col class="col-with-arrow" (click)="slidePrev()" no-padding col-1>
        <ion-icon *ngIf="showLeftButton" name="arrow-back"></ion-icon>
      </ion-col>

        <ion-col no-padding col-10>
          <ion-slides (ionSlideDidChange)="slideChanged()" slidesPerView="5">
          <ion-slide class="sliderDate" (click)="selectYear(period)"
                     *ngFor="let period of periods">
            <!--<p [class.selected]="period">{{period}}</p>-->
            <p [class.selected]="selectedYear === period">{{period}}</p>
            </ion-slide>
        </ion-slides>
      </ion-col>
      <ion-col class="col-with-arrow" (click)="slideNext()" no-padding col-1>
        <ion-icon *ngIf="showRightButton" name="arrow-forward"></ion-icon>
      </ion-col>
    </ion-row>
  </div>
  <div id="map" class="map" #map showWhen="android,ios"></div>
  <!--<img src="assets/img/slide-5.png" height="700px"/>-->
  <empty-view [text]="'ERROR_CORDOVA_MAPS' | translate" icon="map" showWhen="core"></empty-view>

  <empty-view *ngIf="isErrorViewVisible" icon="alert"
              [text]="'ERROR_PLACES' | translate">
  </empty-view>

  <empty-view *ngIf="isEmptyViewVisible" icon="map"
              [text]="'EMPTY_PLACES' | translate">
  </empty-view>
</ion-content>

<ion-footer>
  <div *ngIf="listeningPOI">
    <ion-slides pager>
      <ion-slide *ngFor="let image of listeningPOI.images">
        <img [src]="getFileURL(image.name())" offset="100"
             [lazyLoad]="getFileURL(image.name())" />
      </ion-slide>
    </ion-slides>
    <div text-center>{{listeningPOI["title_"+lang]}}</div>
  </div>

  <vg-player class="vgPlayerMap" (onPlayerReady)="onPlayerReady($event)">
    <ion-grid>
      <ion-row align-items-center style="height: 100%">
        <ion-col text-center>
          <!-- Backwards -->
          <button ion-button class="skip-btn" color="primary" [disabled]="!api.canPlay" (click)="playPrevStory()">
            <ion-icon name="skip-backward" ></ion-icon>
          </button>
          <!-- Play/Pause -->
          <button ion-button class="play-pause-btn" color="primary" (click)="api.play()"
                  [disabled]="!api.canPlay" *ngIf="api && api.state!='playing'">
            <ion-icon name="play"></ion-icon>
          </button>
          <button ion-button class="play-pause-btn" color="secondary" (click)="api.pause()"
                  [disabled]="!api.canPlay" *ngIf="api && api.state=='playing'">
            <ion-icon name="pause"></ion-icon>
          </button>
          <!-- Forwards -->
          <button ion-button class="skip-btn" color="primary" [disabled]="!api.canPlay" (click)="playNextStory()">
            <ion-icon name="skip-forward" ></ion-icon>
          </button>
          <button ion-button class="skip-btn" color="primary" [disabled]="!api.canPlay"
                  (click)="changePlayBackRate()">
            <p style="text-transform: lowercase;">{{playBackValues[playBackRateIndex]}}x</p>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <audio #media [vgMedia]="media" [src]="currentAudio.src" type="audio/mp3" autoplay preload="metadata">
      <!--<source *ngFor="let audio of nearAudio" [src]="audio" type="audio/mp3">-->
    </audio>
  </vg-player>
  <!--<div>{{currentAudio.period}}</div>-->
</ion-footer>
