page-places {
  #map {
    width: 100%;
    height: 91%; 
    position: fixed;
    background-color: #fff;
    // background-color: #fbff14;
  }
// .no-scroll {
//     scroll-content {
//         overflow-y: hidden;
//         overflow-x: hidden;
//     }
// }
.scroll {
    scroll-content {
        overflow-y: hidden;
        overflow-x: hidden;
    }
}

  .placesContent{
    position:relative;
    padding-top:0px !important;
    margin-top:0px !important;
  }

  ion-item {
    margin-bottom: 16px !important;
  }

  .item-block:first-child {
    border-top: none !important;
  }

  ion-item:last-child {
    border-bottom: none !important;
  }

  ion-note {
    font-size: 12px;
    align-self: flex-start;
    margin-top: 14px;
  }

  ul {
    margin: 4px 0;
    padding: 0px;

    &.rating li {
      padding: 5px 0 !important;
      background: none;
      color: color($colors, primary, base);

      ion-icon {
        font-size: 16px;
      }
    }
  }
  .item-ios-dark, .item-divider-ios-dark{
    height:3.7em;
  }
  .ionSlides{
    height: 6.5em;
    display: block;
    max-width: 100%;
    bottom: 4.1em;
  }
  .slide-zoom {
    text-align: center;
    display: block;
    width: 100%;
  }
  .filters {

    ion-col {
      text-align: center;
      font-size: 1.6rem;
      line-height: 1.6rem;

      ion-icon {
        color: #bdbdbd;
      }

      &.col-with-arrow {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    p {
      color: #000;
      margin: 0px;
      padding:0px;
    }

    .selected {
        font-weight: 900;
        background: #bdbdbdc7 !important;
      line-height: 4em;
    }
  }

  .play-pause-btn {
    display: inline-block;
    width: 2.1em;
    height: 2.1em;
    box-shadow: 0 0 10px #999;
    font-size: 31px;
    border-radius: 70%;
    margin-bottom: 0.4em !important;
  }
  .playPlaces{
    margin-left:5px;
  }
.colVGplayer{
  line-height:6em;
}
.sliderPOI{
  position: fixed;
  bottom: 7em;
}
  .sliderDate{
    width: 65px !important;
    border-right: solid 1px rgba(0,0,0,0.06);
  }
  
  .tolbarDateSlider{
    width: 100%;
    height: 4em;
    position: fixed;
    z-index: 10;
    border-bottom: solid 1px rgba(0, 0, 0, 0.09);
  }
  .swiper-slide:last-child {
    border-right: none;
  }

  .skip-btn {
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    box-shadow: 0 0 10px #999;
  }

  ion-toolbar > div {
    background-color: rgba(0, 0, 0, 0)!important;
    border-color: rgba(0, 0, 0, 0)!important;
  }
  vg-controls {
    background-color: rgba(0, 0, 0, 0);
  }


  .year-row{
    height: 4em;
    width:100%;
    position: absolute;
    z-index: 10;
  }
  vg-player{
    height: 5.9em;
    background-color: rgba(0, 0, 0, 0)!important;
    border-color: rgba(0, 0, 0, 0)!important;
  }
  .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before,
  .tabs-md[tabsPlacement="bottom"] > .tabbar::before{
    width:auto;
  }

  .scrum-bar {
    padding-top: 18px;

  }
  vg-scrub-bar-current-time, vg-scrub-bar-buffering-time {
    height: 20px;
  }
  vg-scrub-bar-current-time .background, vg-scrub-bar-buffering-time .background {
    border-radius: 10px !important;
    min-width: 20px;

  }
  .swiper-pagination-bullet-active{
    background-color: #bbbbbb;
  }
 
  .swiper-slide:last-child {
    border-right: none;
  }

  .skip-btn {
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    box-shadow: 0 0 10px #999;
  }
  .mapFooter{
    bottom:0px;
    position:fixed;
    width:100%;

  }
//   .alert-wrapper {
//     background-color: #ac2a2cf2 !important;
// }

}
