page-places {
    .scroll-content {
        margin-bottom: 0 !important;
        will-change: unset;
    }
    .tabbar.show-tabbar {
        display: none !important;
    }
    .ion-page {
        left: 0;
        top: 0;
        position: relative !important;
    }
    // .ion-page > ion-content {
    //     position: fixed !important;
    // }
    #map {
        // background-image: url("/assets/img/slide-5.png");
        height: 92vh;
        // position: fixed;
        z-index: 100;
    }
  

    .item-ios-dark, .item-divider-ios-dark {
        height: 3.7em;
    }

    .ionSlides {
        height: 6.5em;
        display: block;
        max-width: 100%;
        bottom: 4.1em;
    }

    .slide-zoom {
        text-align: center;
        display: block;
        line-height: 4em !important;
        width: 100%;
    }

    .filters {
        ion-col {
            text-align: center;
            font-size: 1.6rem;
            line-height: 1.6rem;

            ion-icon {
                color: #bdbdbd;
            }

            &.col-with-arrow {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        p {
            color: #000;
            margin: 0px;
            padding: 0px;
            line-height: 4em !important;
        }

        .selected {
            font-weight: 900;
            background: #bdbdbd0d !important;
            line-height: 4em;
        }
    }

    .play-pause-btn {
        display: inline-block;
        width: 2.1em;
        height: 2.1em;
        box-shadow: 0 0 10px #999;
        font-size: 31px;
        border-radius: 70%;
        margin-bottom: 0.4em !important;
    }

    .playPlaces {
        margin-left: 5px;
    }


    .sliderPOI {
        position: fixed;
        bottom: 7em;
    }

    .sliderDate {
        line-height: 3em;
        width: 65px !important;
        border-right: solid 1px rgba(0, 0, 0, 0.06);
    }

    .tolbarDateSlider {
        width: 100%;
        height: 4em;
        position: fixed !important;
        border-bottom: solid 1px rgba(0, 0, 0, 0.2);
        background-color: rgba(105, 113, 125, 0.05);
    }

    .swiper-slide:last-child {
        border-right: none;
    }

    .skip-btn {
        display: inline-block;
        vertical-align: middle;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        box-shadow: 0 0 10px #999;
    }

    ion-toolbar > div {
        background-color: rgba(0, 0, 0, 0) !important;
        border-color: rgba(0, 0, 0, 0) !important;
    }

    vg-controls {
        background-color: rgba(0, 0, 0, 0);
        display: inline-block;
        height: 37px;
    }

    .year-row {
        height: 4em;
        width: 100%;
        position: absolute;
        z-index: 10;
    }
  vg-player {
        height: 6.5em;
        background-color: rgba(0, 0, 0, 0) !important;
        border-color: rgba(0, 0, 0, 0) !important;
    }
    .vgGrid {
        max-width: max-content; 
    }
    
    vg-time-display {
       line-height: 3em;
       color: #f63d3d;
       font-size: x-small;
    }
    vg-time-display > span{
        margin-right: 1.3em;
    }

    vg-scrub-bar {
                width: 97%;
                box-shadow: 0 0 3px #999;
                background-color: #f63d3d38;
                border-radius: 15px;
                overflow:hidden;
                height: 0.7em;
                bottom: 0.5em !important;
            }
            .titleVGTime{
                color: #fff;
                line-height: 0.9em !important;
                padding-left: 1em;
            }
            
            vg-scrub-bar-current-time .background {
                background-color: #ff0303;
                margin-top: -0.3em;
                height: 0.8em;
                border-radius: 15px !important;
                min-width: 0px;
            }
        vg-scrub-bar-buffering-time {
                display: flex;
                width: 100%;
                height: 0.8em;
                pointer-events: none;
        }
        vg-scrub-bar-buffering-time .background {
            border-radius: 15px !important;
            min-width: 12px;
        }

    .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before,
    .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
        width: auto;
    }

    .scrum-bar {
        padding-top: 18px;
    }
    .swiper-pagination-bullet-active {
        background-color: #bbbbbb;
    }

    .swiper-slide:last-child {
        border-right: none;
    }

    .skip-btn {
        display: inline-block;
        vertical-align: middle;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        box-shadow: 0 0 10px #999;
    }

    ion-footer{
        height: 6em;
    }

    .colVGplayer {
    line-height: 0em;
    }
   ion-footer .toolbar:last-child {
    height: 6.9em;
    }
  
}
