<ion-header>
  <ion-navbar color="primary" >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'ROUTES' | translate }}</ion-title>
    <!-- <ion-title>{{ 'CATEGORIES' | translate }}</ion-title> -->
  </ion-navbar>
</ion-header>

<ion-content padding #container>

  <empty-view *ngIf="isErrorViewVisible" icon="alert"
    [text]="'ERROR_ROUTES' | translate">
  </empty-view>

  <empty-view *ngIf="isEmptyViewVisible" icon="bookmark"
    [text]="'EMPTY_ROUTES' | translate">
  </empty-view>

  <ion-refresher (ionRefresh)="onReload($event)">
    <ion-refresher-content
      pullingText="{{ 'PULL_TO_REFRESH' | translate }}"
      refreshingText="{{ 'REFRESHING' | translate }}">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list *ngIf="isContentViewVisible">
    <div *ngFor="let category of categories" >
      <ion-item (click)="goToPlaces(category)">
        <ion-avatar item-start>
          <img src="assets/img/tag.png" offset="100"
               [lazyLoad]="category.imageThumb.url()"
               [scrollTarget]="container.getScrollElement()">
        </ion-avatar>
        <h2>{{ category["title_"+lang] }} </h2>

        <!--<button ion-button color="secondary" (click)="showAlert()">Show Prompt Alert</button>-->
      </ion-item>
      <ion-icon name="ios-information-circle-outline" (click)="showAlert(category.attributes['information_'+lang])" item-end></ion-icon>

    </div>
  </ion-list>

</ion-content>
