<ion-header>
  <ion-navbar color="primary" text-center>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'ROUTES' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content #container>
  <empty-view *ngIf="isErrorViewVisible" icon="alert"
    [text]="'ERROR_ROUTES' | translate">
  </empty-view>

  <empty-view *ngIf="isEmptyViewVisible" icon="bookmark"
    [text]="'EMPTY_ROUTES' | translate">
  </empty-view>

  <ion-refresher (ionRefresh)="onReload($event)">
    <ion-refresher-content
      pullingText="{{ 'PULL_TO_REFRESH' | translate }}"
      refreshingText="{{ 'REFRESHING' | translate }}">
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="isContentViewVisible" class="divCategory">
    <ion-item *ngFor="let category of categories" color="dark" no-lines class="itemCategory">
      <div (tap)="goToPlaces(category)">
      <ion-avatar item-start class="avatarCategory">
        <img src="assets/img/tag.png" offset="100"
             [lazyLoad]="category.imageThumb.url()"
             [scrollTarget]="container.getScrollElement()">
      </ion-avatar>
      <h2 class="bold textCategory" ion-text color="secondaru">{{ category["title_"+lang] }}</h2>
      </div>
        <ion-icon class="iconCategory" name="ios-information-circle-outline" (tap)="openModalAddReviewRoute(category['title_'+lang],category['information_'+lang],category.center_map,category.waypoints,category.start_route,category.end_route)" item-end></ion-icon>
    </ion-item>
  </div>

</ion-content>
