<ion-header>
  <ion-navbar color="primary" >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'ROUTES' | translate }}</ion-title>
    <!-- <ion-title>{{ 'CATEGORIES' | translate }}</ion-title> -->
  </ion-navbar>
</ion-header>

<ion-content #container>
  <empty-view *ngIf="isErrorViewVisible" icon="alert"
    [text]="'ERROR_ROUTES' | translate">
  </empty-view>

  <empty-view *ngIf="isEmptyViewVisible" icon="bookmark"
    [text]="'EMPTY_ROUTES' | translate">
  </empty-view>

  <ion-refresher (ionRefresh)="onReload($event)">
    <ion-refresher-content
      pullingText="{{ 'PULL_TO_REFRESH' | translate }}"
      refreshingText="{{ 'REFRESHING' | translate }}">
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="isContentViewVisible" class="divCategory">
    <ion-item *ngFor="let category of categories" color="dark" no-lines class="itemCategory">
      <div (click)="goToPlaces(category)">
      <ion-avatar item-start class="avatarCategory">
        <img src="assets/img/tag.png" offset="100"
             [lazyLoad]="category.imageThumb.url()"
             [scrollTarget]="container.getScrollElement()">
      </ion-avatar>
      <h2 class="bold textCategory" ion-text color="secondaru">{{ category["title_"+lang] }}</h2>
      </div>
      <!--<ion-note color="light"  ion-text item-right>-->
        <ion-icon class="iconCategory" name="ios-information-circle-outline" (click)="showAlert(category['title_'+lang], category['information_'+lang],category)" item-end></ion-icon>
        <!--<ion-icon class="iconCategory" name="ios-information-circle-outline" (click)="showAlert(category.attributes['information_'+lang])" item-end></ion-icon>-->
      <!--</ion-note>-->
    </ion-item>
  </div>
</ion-content>
