<ion-header>
  <ion-navbar color="primary">
    <ion-title text-center class="titleReview"> {{ "ROUTE_INFO" | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">
  <ion-card>
    <ion-card-content>
      <ion-card-title class="cardTitle" text-center>
        {{routeModal['title_' + lang]}}
      </ion-card-title>

      <div *ngIf="!routeValues.purchased">
        <div class="notActivated" text-center>
          <ion-icon name='md-close'></ion-icon>
          {{ "ROUTE_NOT_ACTIVATED" | translate }}
        </div>
       
        <ion-row no-padding>
          <ion-col text-center> 
            <button class="btnGoToBundle" ion-button round icon-left *ngFor="let bundle of bundles" (tap)="goToBundle(bundle)" text-center>
              <span class="activateButton" text-left> {{ "Buy"|translate }} {{ bundle["title_"+lang].toLocaleLowerCase() }} {{ "for"|translate}} </span>
              <span item-end *ngIf="!bundle.purchased"> {{ bundle.productData?.price }} </span>
            </button>
          </ion-col>
        </ion-row>
      </div>

      <div *ngIf="routeValues.purchased">
        <ion-row no-padding>
          <ion-col text-center>
            <button ion-button clear color="balanced" icon-start>
              <ion-icon name='md-checkmark'></ion-icon>
              {{ "ROUTE_ACTIVATED" | translate }}
            </button>
          </ion-col>
        </ion-row>
      </div>

      <p text-center style="margin: 12px 0px -13px;">
        {{ routeModal['information_' + lang] }}
      </p>
    </ion-card-content>

    <img *ngIf="routePlaces.length" offset="100" src="http://maps.googleapis.com/maps/api/staticmap?center={{routeModal.center_map}}&sensor=false&{{markers}}&zoom={{mapZoom}}&format=png&maptype=roadmap&size=800x590&key=AIzaSyAlxUfLNUfBLnuJBJBOpcXpmB_UGDUTuTY"
      ng-reflect-lazy-image="http://maps.googleapis.com/map" ng-reflect-scroll-target="[object HTMLDivElement]" ng-reflect-offset="100"
      class="ng-lazyloaded">
    <img *ngIf="!routePlaces.length" src="{{routeModal.image.url()}}">
  </ion-card>
</ion-content>


 <!-- <ion-row no-padding>
          <ion-col text-center>
            <button ion-button round icon-left (tap)="purchaseByIAP()" text-center>
              <ion-icon name="md-checkmark"></ion-icon>
              <span class="activateButton"> {{ "ROUTE_ACTIVATE" | translate }} </span>
              <span> {{ routeModal.productData.price }} </span>
            </button>
          </ion-col>
        </ion-row> 
        <ion-list>
          <ion-item-group class="itemGroupBundle">
            <ion-title class="itemTitle">
              <h3 style="color:#3f7a04;" text-center> {{ "BY_BUNDLE"|translate }} :</h3>
            </ion-title>
            <button class="itemButton" ion-item *ngFor="let bundle of bundles" (tap)="goToBundle(bundle)" text-center>
              <ion-label text-left> {{ bundle["title_"+lang] }} </ion-label>
              <ion-note item-end *ngIf="!bundle.purchased"> {{ bundle.productData?.price }} </ion-note>
              <ion-icon class="iconRoute" color="{{bundle.purchased ? 'balanced' : ''}}" name="{{bundle.purchased ? 'ios-unlock' : 'ios-lock'}}"
                item-end></ion-icon>
            </button>
          </ion-item-group>
        </ion-list>-->