page-enable-route-page {
  ul {
    padding: 0px;

    &.rating li {
      padding: 5px 10px;
      background: none;
      color: #ffb400;

      ion-icon {
        font-size: 30px;
      }
    }
  }
  .toolbar-ios ion-title {
    padding: 0 30px 1px;
  }
  .itemButton {
    border: solid 1px #f4f4fa;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
  }
  .itemGroupBundle{
    margin:0px;
  }
  .cardTitle{
    text-align:center;
    font-size: 1.8rem;
    padding:0px;
  }
  .titleReview{
    margin-left: 1.1em !important;
  }
  .notActivated{
    padding-top: 5px;
    font-size: 1.1em;
    padding-bottom: 5px;
    color: #f63d3d;
  }
  .itemTitle{
    font-size: 1.3rem !important;
    
  color: #f63d3d;
  }

  // .bar-button-ios {
  //   padding-bottom: 5px;
  //   border-radius: 4px;
  //   height: 32px;
  //   border: 0;
  //   font-size: 1.7rem;
  // }
  .activateButton{
    padding-right: 6px;
  }
  .iconRoute{
    margin-right: auto !important;
  }
  .btnGoToBundle {
    color:#fff !important;
    margin: -0.5rem;
    padding: 0 0.6rem !important;
  }
}
