page-map-page {
  .map {
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .mapTop{
    position:relative;
    padding-top:0px !important;
    margin-top:0px !important;
  }
  .vgPlayer {
    height: 50px;
    //background-color: #4e6382;
    background-color: #717171;
  }
  .scrum-bar {
    padding-top: 18px;

  }
  vg-scrub-bar-current-time, vg-scrub-bar-buffering-time {
    height: 20px;
  }
  vg-scrub-bar-current-time .background, vg-scrub-bar-buffering-time .background {
    border-radius: 10px !important;
    min-width: 20px;

  }
  .swiper-pagination-bullet-active{
    background-color: #bbbbbb;
  }

  @import "../../../node_modules/videogular2/fonts/videogular.css";
}
