<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ "MAP" | translate }}</ion-title>
  </ion-navbar>

  <ion-toolbar>
    <ion-row class="filters">
      <ion-col class="col-with-arrow" (click)="slidePrev()" no-padding col-1>
        <ion-icon *ngIf="showLeftButton" name="arrow-back"></ion-icon>
      </ion-col>
      <ion-col no-padding col-10>
        <ion-slides (ionSlideDidChange)="slideChanged()" slidesPerView="4">
          <!--<ion-slide (click)="filterData(story)" *ngFor="let story of [1600,1650,1700,1750,1800]">-->
          <ion-slide (click)="selectYear(story)" *ngFor="let story of allStories">
            <p [class.selected]="selectedStory === story">{{story.year}}</p>
          </ion-slide>
        </ion-slides>
      </ion-col>
      <ion-col class="col-with-arrow" (click)="slideNext()" no-padding col-1>
        <ion-icon *ngIf="showRightButton" name="arrow-forward"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content class="mapTop">

  <div id="map" class="map" #map showWhen="android,ios"></div>
  <!--<div id="map" class="map" #map>-->
    <!--<img src="assets/img/slide-5.png" height="700px"/>-->
  <!--</div>-->
  <empty-view [text]="'ERROR_CORDOVA_MAPS' | translate" icon="map" showWhen="core">
  </empty-view>

</ion-content>

<ion-footer>
  <ion-toolbar color="secondary" text-center>
    <div *ngIf="listeningPOI">
      <ion-slides pager>
        <ion-slide *ngFor="let image of listeningPOI.images">
          <img [src]="getFileURL(image.name())" offset="100"
               [lazyLoad]="getFileURL(image.name())"/>
        </ion-slide>
      </ion-slides>

      <div>{{listeningPOI["title_"+lang]}}</div>
    </div>
    <audio-track #audioTrack [track]="currentAudio" [autoplay]="true" (onFinish)="onTrackFinished($event)">
      <ion-grid>
        <ion-row justify-content-center align-items-center style="height: 100%">
          <ion-col>
            <!-- Backwards -->
            <button ion-button class="skip-btn" color="primary">
              &nbsp;&nbsp;<ion-icon name="skip-backward" (click)="playPrevStory()"></ion-icon>&nbsp;&nbsp;
            </button>
          </ion-col>
          <ion-col>
            <!-- Play/Pause -->
            <button ion-button class="play-pause-btn" color="primary" (click)="audioTrack.play()" [disabled]="!audioTrack.canPlay" *ngIf="!audioTrack.isPlaying">
              <ion-icon name="play"></ion-icon>
            </button>

            <button ion-button class="play-pause-btn"  color="secondary" (click)="audioTrack.pause()" [disabled]="!audioTrack.canPlay" *ngIf="audioTrack.isPlaying">
              <ion-icon name="pause"></ion-icon>
            </button>
          </ion-col>
          <ion-col>
            <!-- Forwards -->
            <button ion-button class="skip-btn" color="primary" >
              &nbsp;&nbsp;<ion-icon name="skip-forward" (click)="playNextStory()"></ion-icon>&nbsp;&nbsp;
            </button>
          </ion-col>

        </ion-row>
      </ion-grid>

    </audio-track>
  </ion-toolbar>
</ion-footer>
