@import "videogular2_scripts/fonts/videogular.scss";

page-map-page {
  .map {
    width: 100%;
    height: 100%;
    position: fixed;
  }
  .mapTop{
    position:relative;
    padding-top:0px !important;
    margin-top:0px !important;
  }
  .vgPlayer {
    height: 50px;
    //background-color: #4e6382;
    background-color: #717171;
  }
  .vgPlayerMap {
    line-height: 65px;
    background-color: rgba(0, 0, 0, 0)!important;
    border-color: rgba(0, 0, 0, 0)!important;
  }
  .scrum-bar {
    padding-top: 18px;

  }
  vg-scrub-bar-current-time, vg-scrub-bar-buffering-time {
    height: 20px;
  }
  vg-scrub-bar-current-time .background, vg-scrub-bar-buffering-time .background {
    border-radius: 10px !important;
    min-width: 20px;

  }
  .swiper-pagination-bullet-active{
    background-color: #bbbbbb;
  }
  //ion-slide.swiper-slide {
  // width: 100%;
  //  right:0%;
  //}
  //.slide-zoom {
  //  width: 100%;
  //  background: rgba(232, 91, 71, 0.72);
  //}

  .filters {

    ion-col {
      text-align: center;
      font-size: 1.6rem;
      line-height: 1.6rem;

      ion-icon {
        color: #ccc;
      }

      &.col-with-arrow {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    p {
      color: #000;
      margin: 0px;
      padding:0px;
      //font-size: 1.6rem;
      //line-height: 1.9rem;
    }

    .selected {
        font-weight: 900;
        //line-height: 25px;
        background: #bdbdbdc7;
      line-height: 4em;
    }
  }

  .play-pause-btn {
    display: inline-block;
    width: 69px;
    height: 69px;
    box-shadow: 0 0 10px #999;
    font-size: 2.3em;
    border-radius: 50%;
  }
  .sliderDate{
    width: 65px;
    //border-right: solid 1px rgba(0,0,0,0.3);
  }
  .tolbarDateSlider{
    min-height: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-bottom: solid 1px rgba(158, 158, 158, 0.17);
    background-color: rgba(0, 0, 0, 0.06);
  }
  .swiper-slide:last-child {
    border-right: none;
  }

  .skip-btn {
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    box-shadow: 0 0 10px #999;
  }


  ion-toolbar > div {
    background-color: rgba(0, 0, 0, 0)!important;
    border-color: rgba(0, 0, 0, 0)!important;
  }
  vg-controls {
    background-color: rgba(0, 0, 0, 0);
  }

  .year-row{
    height: 4em;
    position: absolute;
    z-index: 10;
  }
}
